@model Oyun

<div class="col-12 text-center">
    <h1><span class="badge badge-secondary">@Model.OyunAdi</span></h1>
</div>
<br />
<div class="text-center">
    <img src="~/img/oyun/@Model.Resim" alt="..." class="img-fluid">
</div>
<br />
<div class="col-12">
    <h4><span class="badge badge-secondary">@Model.Aciklama</span></h4>
</div>
